---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [2]:
data = df.copy()

In [3]:
#format 04/20/2009
s1 = data.str.extractall(r'(?P<month>\d?\d)[-/](?P<day>\d?\d)[-/](?P<year>\d{4})')
s1.reset_index(inplace=True)
data = data.drop(s1['level_0'])

In [4]:
s1['date']= pd.to_datetime(s1[['year','month','day']])

In [5]:
s1

    level_0  match month day  year       date
0        14      0     5  24  1990 1990-05-24
1        15      0     1  25  2011 2011-01-25
2        17      0    10  13  1976 1976-10-13
3        24      0    07  25  1984 1984-07-25
4        30      0    03  31  1985 1985-03-31
5        34      0     5  12  2012 2012-05-12
6        38      0     7  27  1986 1986-07-27
7        43      0     4  13  2002 2002-04-13
8        45      0     2  15  1998 1998-02-15
9        55      0    10  11  1987 1987-10-11
10       58      0    12   5  2010 2010-12-05
11       59      0    08  20  1982 1982-08-20
12       64      0    07  29  1994 1994-07-29
13       69      0    11   3  1985 1985-11-03
14       77      0    01  05  1999 1999-01-05
15       82      0     7  07  1974 1974-07-07
16       83      0    09  14  2000 2000-09-14
17       85      0     8  09  1981 1981-08-09
18       92      0    04  08  2004 2004-04-08
19       94      0    12  08  1990 1990-12-08
20       95      0     4  11  1974 1974-04-11
21      102      0    07  18  2002 2002-07-18
22      106      0     2  11  2006 2006-02-11
23      109      0     7  20  2011 2011-07-20
24      118      0     4  27  2006 2006-04-27

In [6]:
df[72]

'Lithium 0.25 (7/11/77).  LFTS wnl.  Urine tox neg.  Serum tox + fluoxetine 500; otherwise neg.  TSH 3.28.  BUN/Cr: 16/0.83.  Lipids unremarkable.  B12 363, Folate >20.  CBC: 4.9/36/308 Pertinent Medical Review of Systems Constitutional:\n'

In [7]:
#format 04/20/09
s2 = data.str.extractall(r'(?P<month>\d?\d)[-/](?P<day>\d?\d)[-/](?P<year>\d{2})[^\d]')
s2.reset_index(inplace=True)
data = data.drop(s2['level_0'])

In [8]:
s2['year']=s2['year'].apply(lambda x: '19'+x)

In [11]:
s2['date']= pd.to_datetime(s2[['year','month','day']])

In [12]:
s2

    level_0  match month day  year       date
0         0      0    03  25  1993 1993-03-25
1         1      0     6  18  1985 1985-06-18
2         2      0     7   8  1971 1971-07-08
3         3      0     9  27  1975 1975-09-27
4         4      0     2   6  1996 1996-02-06
5         5      0     7  06  1979 1979-07-06
6         6      0     5  18  1978 1978-05-18
7         7      0    10  24  1989 1989-10-24
8         8      0     3   7  1986 1986-03-07
9         9      0     4  10  1971 1971-04-10
10       10      0     5  11  1985 1985-05-11
11       11      0     4  09  1975 1975-04-09
12       12      0     8  01  1998 1998-08-01
13       13      0     1  26  1972 1972-01-26
14       16      0     4  12  1982 1982-04-12
15       18      0     4  24  1998 1998-04-24
16       19      0     5  21  1977 1977-05-21
17       20      0     7  21  1998 1998-07-21
18       21      0    10  21  1979 1979-10-21
19       22      0     3  03  1990 1990-03-03
20       23      0     2  11  1976 1976-02-11
21       25      0     4  13  1982 1982-04-13
22       26      0     9  22  1989 1989-09-22
23       27      0     9  02  1976 1976-09-02
24       28      0     9  12  1971 1971-09-12
25       29      0    10  24  1986 1986-10-24
26       31      0     7  20  1972 1972-07-20
27       32      0     4  12  1987 1987-04-12
28       33      0    06  20  1991 1991-06-20
29       35      0     3  15  1983 1983-03-15
..      ...    ...   ...  ..   ...        ...
70       88      0    12   8  1982 1982-12-08
71       89      0     8  26  1989 1989-08-26
72       90      0    10  13  1995 1995-10-13
73       91      0     4  19  1991 1991-04-19
74       93      0     9  20  1976 1976-09-20
75       96      0     7  18  1986 1986-07-18
76       97      0     3  31  1991 1991-03-31
77       98      0     5  13  1972 1972-05-13
78       99      0    11  14  1983 1983-11-14
79      100      0     8  16  1992 1992-08-16
80      101      0    10  05  1997 1997-10-05
81      103      0     9  22  1982 1982-09-22
82      104      0     2  24  1974 1974-02-24
83      105      0     2  03  1978 1978-02-03
84      107      0     8  22  1983 1983-08-22
85      108      0     5  04  1974 1974-05-04
86      110      0     6  17  1995 1995-06-17
87      111      0     6  10  1972 1972-06-10
88      112      0    10  16  1982 1982-10-16
89      113      0    12  15  1992 1992-12-15
90      114      0    12   8  1997 1997-12-08
91      115      0     4  05  1989 1989-04-05
92      116      0    12  04  1987 1987-12-04
93      117      0     6  20  1977 1977-06-20
94      119      0    07  17  1992 1992-07-17
95      120      0    12  22  1998 1998-12-22
96      121      0    10  02  1996 1996-10-02
97      122      0    11  05  1990 1990-11-05
98      123      0     5  04  1977 1977-05-04
99      124      0     2  27  1996 1996-02-27

[100 rows x 6 columns]

In [13]:
#Mar-20-2009
s3 = data.str.extractall(r'(?P<month>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-\.]?\s?(?P<day>\d{1,2})[-,]?\s?(?P<year>\d{4})')
s3.reset_index(inplace=True)
data = data.drop(s3['level_0'])

In [14]:
data

125    s The patient is a 44 year old married Caucasi...
126    .10 Sep 2004 - Intake at EEC for IOP but did n...
127    see above and APS eval of 26 May 1982 Social H...
128    Tbooked for intake appointment at Sierra Vista...
129                    06 May 1972 SOS-10 Total Score:\n
130      25 Oct 1987 Total time of visit (in minutes):\n
131                    14 Oct 1996 SOS-10 Total Score:\n
132    30 Nov 2007 CPT Code: 90801 - Psychiatric Diag...
133    h missed intake office visit on 28 June 1994 a...
134                    14 Jan 1981 SOS-10 Total Score:\n
135      .On 10 Oct 1985 patient began FMLA from work.\n
136    11 February 1985 CPT Code: 90801 - Psychiatric...
137    7intake for follow up treatment at Anson Gener...
138    s The patient is a 49 year old married Canadia...
139    ssee 21 Oct 2012 Schroder Hospital discharge s...
140                   14 Feb 1995 Primary Care Doctor:\n
141                    30 May 2016 SOS-10 Total Score:\n
142    22 Jan 1996 @ 11 AMCommunication with referrin...
143    14 Oct 1992 CPT Code: 90792: With medical serv...
144    .On 06 Oct 2003 patient sought attention of CM...
145                    18 Oct 1999 SOS-10 Total Score:\n
146      11 Nov 2004 Total time of visit (in minutes):\n
147    30 May 2001 CPT Code: 90801 - Psychiatric Diag...
148    .On 02 Feb 1978 patient was seen by Dr. Fisher...
149                   09 Sep 1989 Primary Care Doctor:\n
150                  12 March 1980 SOS-10 Total Score:\n
151                      22 June 1990 Medical History:\n
152                   28 Sep 2015 Primary Care Doctor:\n
153                   13 Jan 1972 Primary Care Doctor:\n
154                   06 Mar 1974 Primary Care Doctor:\n
                             ...
470    y1983 Clinic Hospital, first hospitalization, ...
471    tProblems Urinary incontinence : mild urge inc...
472    .2010 - wife; nightmares and angry outbursts; ...
473         shx of TBI (1975) ISO MVA.Medical History:\n
474    sPatient reported losing three friends that pa...
475                        TSH okay in 2015 Prior EKG:\n
476    1989 Family Psych History: Family History of S...
477    oEnjoys animals, had a dog x 14 yrs who died i...
478    eHistory of small right parietal subgaleal hem...
479    sIn KEP Psychiatryfor therapy and medications ...
480    1. Esophageal cancer, dx: 2013, on FOLFOX with...
481                                        y1974 (all)\n
482    h/o restraining order by sister/mother in 1990...
483    sTexas Medical Center; Oklahoma for 2 weeks; 1...
484    Death of former partner in 2004 by overdose as...
485    Was "average" student.  "I didn't have too man...
486    Contemplating jumping off building - 1973 - di...
487    appendectomy s/p delivery 1992 Prior relevant ...
488    tProblems renal cell cancer : s/p nephrectomy ...
489        ran own business for 35 years, sold in 1985\n
490                                  Lab: B12 969 2007\n
491                                   )and 8mo in 2009\n
492    .Moved to USA in 1986. Suffered from malnutrit...
493                                              r1978\n
494    . Went to Emerson, in Newfane Alaska. Started ...
495    1979 Family Psych History: Family History of S...
496    therapist and friend died in ~2006 Parental/Ca...
497                         2008 partial thyroidectomy\n
498    sPt describes a history of sexual abuse as a c...
499    . In 1980, patient was living in Naples and de...
Length: 341, dtype: object

In [16]:
s3

    level_0  match month day  year
0       194      0   Apr  11  1990
1       195      0   May  30  2001
2       196      0   Feb  18  1994
3       197      0   Feb  18  1981
4       198      0   Oct  11  2013
5       199      0   Jan  24  1986
6       200      0   Jul  26  1978
7       201      0   Dec  23  1999
8       202      0   May  15  1989
9       203      0   Sep  06  1995
10      204      0   Mar  10  1976
11      205      0   Jan  27  1983
12      206      0   Oct  23  1990
13      207      0   Aug  12  2004
14      208      0   Sep  01  2012
15      209      0   Jul  25  1983
16      210      0   Aug  11  1989
17      211      0   Apr  17  1992
18      212      0   Jul  24  1999
19      213      0   Jul  11  1997
20      214      0   Sep  10  1974
21      215      0   Aug  14  1981
22      216      0   Nov  11  1988
23      217      0   Jun  13  2011
24      218      0   May  14  1989
25      219      0   Dec  14  1975
26      220      0   Jun  25  2012
27      221      0   Oct  18  1980
28      222      0   May  15  1998
29      223      0   Oct  14  1974
30      224      0   Jul  25  1998
31      225      0   Jun  15  1972
32      226      0   Jan  07  1991
33      227      0   Sep  15  2011

In [17]:
month_dict = dict({'September': 9, 'Mar': 3, 'November': 11, 'Jul': 7, 'January': 1, 'December': 12,
                   'Feb': 2, 'May': 5, 'Aug': 8, 'Jun': 6, 'Sep': 9, 'Oct': 10, 'June': 6, 'March': 3,
                   'February': 2, 'Dec': 12, 'Apr': 4, 'Jan': 1, 'Janaury': 1,'August': 8, 'October': 10,
                   'July': 7, 'Nov': 11, 'April': 4, 'Decemeber': 12, 'Age': 8})
s3.replace({"month": month_dict}, inplace=True)

In [19]:
s3['date']= pd.to_datetime(s3[['year','month','day']])

In [20]:
s3

    level_0  match  month day  year       date
0       194      0      4  11  1990 1990-04-11
1       195      0      5  30  2001 2001-05-30
2       196      0      2  18  1994 1994-02-18
3       197      0      2  18  1981 1981-02-18
4       198      0     10  11  2013 2013-10-11
5       199      0      1  24  1986 1986-01-24
6       200      0      7  26  1978 1978-07-26
7       201      0     12  23  1999 1999-12-23
8       202      0      5  15  1989 1989-05-15
9       203      0      9  06  1995 1995-09-06
10      204      0      3  10  1976 1976-03-10
11      205      0      1  27  1983 1983-01-27
12      206      0     10  23  1990 1990-10-23
13      207      0      8  12  2004 2004-08-12
14      208      0      9  01  2012 2012-09-01
15      209      0      7  25  1983 1983-07-25
16      210      0      8  11  1989 1989-08-11
17      211      0      4  17  1992 1992-04-17
18      212      0      7  24  1999 1999-07-24
19      213      0      7  11  1997 1997-07-11
20      214      0      9  10  1974 1974-09-10
21      215      0      8  14  1981 1981-08-14
22      216      0     11  11  1988 1988-11-11
23      217      0      6  13  2011 2011-06-13
24      218      0      5  14  1989 1989-05-14
25      219      0     12  14  1975 1975-12-14
26      220      0      6  25  2012 2012-06-25
27      221      0     10  18  1980 1980-10-18
28      222      0      5  15  1998 1998-05-15
29      223      0     10  14  1974 1974-10-14
30      224      0      7  25  1998 1998-07-25
31      225      0      6  15  1972 1972-06-15
32      226      0      1  07  1991 1991-01-07
33      227      0      9  15  2011 2011-09-15

In [21]:
#20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
s4 = data.str.extractall(r'(?P<day>\d{1,2}) (?P<month>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[\.,]? (?P<year>\d{4})')
s4.reset_index(inplace=True)
data = data.drop(s4['level_0'])

In [23]:
month_dict = dict({'September': 9, 'Mar': 3, 'November': 11, 'Jul': 7, 'January': 1, 'December': 12,
                   'Feb': 2, 'May': 5, 'Aug': 8, 'Jun': 6, 'Sep': 9, 'Oct': 10, 'June': 6, 'March': 3,
                   'February': 2, 'Dec': 12, 'Apr': 4, 'Jan': 1, 'Janaury': 1,'August': 8, 'October': 10,
                   'July': 7, 'Nov': 11, 'April': 4, 'Decemeber': 12, 'Age': 8})
s4.replace({"month": month_dict}, inplace=True)

In [24]:
s4['date']= pd.to_datetime(s4[['year','month','day']])

In [25]:
s4

    level_0  match day  month  year       date
0       125      0  24      1  2001 2001-01-24
1       126      0  10      9  2004 2004-09-10
2       127      0  26      5  1982 1982-05-26
3       128      0  28      6  2002 2002-06-28
4       129      0  06      5  1972 1972-05-06
5       130      0  25     10  1987 1987-10-25
6       131      0  14     10  1996 1996-10-14
7       132      0  30     11  2007 2007-11-30
8       133      0  28      6  1994 1994-06-28
9       134      0  14      1  1981 1981-01-14
10      135      0  10     10  1985 1985-10-10
11      136      0  11      2  1985 1985-02-11
12      137      0  10      2  1983 1983-02-10
13      138      0  05      2  1992 1992-02-05
14      139      0  21     10  2012 2012-10-21
15      140      0  14      2  1995 1995-02-14
16      141      0  30      5  2016 2016-05-30
17      142      0  22      1  1996 1996-01-22
18      143      0  14     10  1992 1992-10-14
19      144      0  06     10  2003 2003-10-06
20      145      0  18     10  1999 1999-10-18
21      146      0  11     11  2004 2004-11-11
22      147      0  30      5  2001 2001-05-30
23      148      0  02      2  1978 1978-02-02
24      149      0  09      9  1989 1989-09-09
25      150      0  12      3  1980 1980-03-12
26      151      0  22      6  1990 1990-06-22
27      152      0  28      9  2015 2015-09-28
28      153      0  13      1  1972 1972-01-13
29      154      0  06      3  1974 1974-03-06
..      ...    ...  ..    ...   ...        ...
39      164      0  21     10  1978 1978-10-21
40      165      0  18      8  1975 1975-08-18
41      166      0  11     11  1996 1996-11-11
42      167      0  01     10  1979 1979-10-01
43      168      0  13     10  1986 1986-10-13
44      169      0  21     10  1995 1995-10-21
45      170      0  24      1  2011 2011-01-24
46      171      0  04     10  1972 1972-10-04
47      172      0  23      8  1993 1993-08-23
48      173      0  18     10  2006 2006-10-18
49      174      0  04     12  1988 1988-12-04
50      175      0  21     10  1983 1983-10-21
51      176      0  26      5  2010 2010-05-26
52      177      0  18      1  1990 1990-01-18
53      178      0  15      6  1985 1985-06-15
54      179      0  10     12  1982 1982-12-10
55      180      0  09     12  1988 1988-12-09
56      181      0  18      8  1995 1995-08-18
57      182      0  13      6  1974 1974-06-13
58      183      0  26      5  2008 2008-05-26
59      184      0  11     11  2002 2002-11-11
60      185      0  17      8  1985 1985-08-17
61      186      0  13     10  2016 2016-10-13
62      187      0  14      1  2008 2008-01-14
63      188      0  12      3  2004 2004-03-12
64      189      0  21     10  1977 1977-10-21
65      190      0  10      8  2000 2000-08-10
66      191      0  30     11  1972 1972-11-30
67      192      0  06      5  1993 1993-05-06
68      193      0  18      1  1995 1995-01-18

[69 rows x 6 columns]

In [26]:
#Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
sa = data.str.extractall(r'(?P<month>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?P<day>\d{1,2})[a-z]*, (?P<year>\d{4})')
sa.reset_index(inplace=True)

In [28]:
sa

Empty DataFrame
Columns: [index, month, day, year]
Index: []

In [29]:
#Feb 2009; Sep 2009; Oct 2010
s5 = data.str.extractall(r'(?P<month>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*,? (?P<year>\d{4})')
s5.reset_index(inplace=True)
data = data.drop(s5['level_0'])

In [35]:
s5['day'] = 1

In [32]:
month_dict = dict({'September': 9, 'Mar': 3, 'November': 11, 'Jul': 7, 'January': 1, 'December': 12,
                   'Feb': 2, 'May': 5, 'Aug': 8, 'Jun': 6, 'Sep': 9, 'Oct': 10, 'June': 6, 'March': 3,
                   'February': 2, 'Dec': 12, 'Apr': 4, 'Jan': 1, 'Janaury': 1,'August': 8, 'October': 10,
                   'July': 7, 'Nov': 11, 'April': 4, 'Decemeber': 12, 'Age': 8})
s5.replace({"month": month_dict}, inplace=True)

In [37]:
s5['date']= pd.to_datetime(s5[['year','month','day']])

In [38]:
s5

     level_0  match  month  year  day       date
0        228      0      9  1985    1 1985-09-01
1        229      0      6  2011    1 2011-06-01
2        230      0      5  1986    1 1986-05-01
3        231      0      5  2016    1 2016-05-01
4        232      0      7  1977    1 1977-07-01
5        233      0      7  1990    1 1990-07-01
6        234      0      7  2003    1 2003-07-01
7        235      0     10  2015    1 2015-10-01
8        236      0      5  1995    1 1995-05-01
9        237      0      2  1976    1 1976-02-01
10       238      0      1  1995    1 1995-01-01
11       239      0      2  1978    1 1978-02-01
12       240      0      5  2011    1 2011-05-01
13       241      0      5  2004    1 2004-05-01
14       242      0     11  2010    1 2010-11-01
15       243      0      9  2012    1 2012-09-01
16       244      0      1  2013    1 2013-01-01
17       245      0     11  1990    1 1990-11-01
18       246      0      7  1981    1 1981-07-01
19       247      0      5  1983    1 1983-05-01
20       248      0      7  1995    1 1995-07-01
21       249      0      4  1993    1 1993-04-01
22       250      0      5  2005    1 2005-05-01
23       251      0     12  1998    1 1998-12-01
24       252      0      1  2007    1 2007-01-01
25       253      0      2  2016    1 2016-02-01
26       254      0      8  1979    1 1979-08-01
27       255      0     10  2014    1 2014-10-01
28       256      0      8  1988    1 1988-08-01
29       257      0      9  2015    1 2015-09-01
..       ...    ...    ...   ...  ...        ...
85       313      0     12  1978    1 1978-12-01
86       314      0      1  2007    1 2007-01-01
87       315      0      6  1976    1 1976-06-01
88       316      0      5  2011    1 2011-05-01
89       317      0      3  1975    1 1975-03-01
90       318      0      1  1978    1 1978-01-01
91       319      0      7  1975    1 1975-07-01
92       320      0     11  2012    1 2012-11-01
93       321      0      6  1999    1 1999-06-01
94       322      0     10  1991    1 1991-10-01
95       323      0      3  1973    1 1973-03-01
96       324      0     10  1996    1 1996-10-01
97       325      0      6  2007    1 2007-06-01
98       326      0     10  1995    1 1995-10-01
99       327      0      4  1999    1 1999-04-01
100      328      0      5  2001    1 2001-05-01
101      329      0      3  2000    1 2000-03-01
102      330      0      4  1988    1 1988-04-01
103      331      0     12  1993    1 1993-12-01
104      332      0      6  1974    1 1974-06-01
105      333      0     11  1997    1 1997-11-01
106      334      0      7  1986    1 1986-07-01
107      335      0      2  1973    1 1973-02-01
108      336      0      3  1978    1 1978-03-01
109      337      0     12  2007    1 2007-12-01
110      338      0      4  1998    1 1998-04-01
111      339      0      3  2005    1 2005-03-01
112      340      0      5  1980    1 1980-05-01
113      341      0     11  2007    1 2007-11-01
114      342      0      3  1976    1 1976-03-01

[115 rows x 6 columns]

In [39]:
#6/2008; 12/2009
s6 = data.str.extractall(r'(?P<month>\d{1,2})/(?P<year>\d{4})')
s6.reset_index(inplace=True)
data = data.drop(s6['level_0'])

In [41]:
s6['day'] = 1

In [42]:
s6['date']= pd.to_datetime(s6[['year','month','day']])

In [43]:
s6

     level_0  match month  year  day       date
0        343      0     6  1998    1 1998-06-01
1        344      0     6  2005    1 2005-06-01
2        345      0    10  1973    1 1973-10-01
3        346      0     9  2005    1 2005-09-01
4        347      0    03  1980    1 1980-03-01
5        348      0    12  2005    1 2005-12-01
6        349      0     5  1987    1 1987-05-01
7        350      0     5  2004    1 2004-05-01
8        351      0     8  1974    1 1974-08-01
9        352      0     3  1986    1 1986-03-01
10       353      0    10  1997    1 1997-10-01
11       354      0     3  1993    1 1993-03-01
12       355      0     3  1981    1 1981-03-01
13       356      0     9  2003    1 2003-09-01
14       357      0    10  1993    1 1993-10-01
15       358      0     1  1983    1 1983-01-01
16       359      0     7  1994    1 1994-07-01
17       360      0    12  2008    1 2008-12-01
18       361      0    10  1980    1 1980-10-01
19       362      0     8  2003    1 2003-08-01
20       363      0    12  1975    1 1975-12-01
21       364      0    11  2010    1 2010-11-01
22       365      0     7  1997    1 1997-07-01
23       366      0     7  2014    1 2014-07-01
24       367      0     9  2001    1 2001-09-01
25       368      0     8  1986    1 1986-08-01
26       369      0     1  1978    1 1978-01-01
27       370      0     9  1975    1 1975-09-01
28       371      0     1  2009    1 2009-01-01
29       372      0     5  1995    1 1995-05-01
..       ...    ...   ...   ...  ...        ...
82       425      0     7  2004    1 2004-07-01
83       426      0    11  1984    1 1984-11-01
84       427      0     5  2016    1 2016-05-01
85       428      0    12  2007    1 2007-12-01
86       429      0    11  1982    1 1982-11-01
87       430      0    06  1981    1 1981-06-01
88       431      0     4  2013    1 2013-04-01
89       432      0     4  1999    1 1999-04-01
90       433      0     5  2006    1 2006-05-01
91       434      0    10  1978    1 1978-10-01
92       435      0    12  1989    1 1989-12-01
93       436      0     2  1974    1 1974-02-01
94       437      0    11  1986    1 1986-11-01
95       438      0     4  1983    1 1983-04-01
96       439      0    10  2014    1 2014-10-01
97       440      0     6  1989    1 1989-06-01
98       441      0     9  1980    1 1980-09-01
99       442      0     9  1992    1 1992-09-01
100      443      0     9  2000    1 2000-09-01
101      444      0     7  1981    1 1981-07-01
102      445      0     1  2008    1 2008-01-01
103      446      0     4  2002    1 2002-04-01
104      447      0     7  1985    1 1985-07-01
105      448      0     5  2010    1 2010-05-01
106      449      0     8  2002    1 2002-08-01
107      450      0     1  1994    1 1994-01-01
108      451      0    12  2004    1 2004-12-01
109      452      0     3  2003    1 2003-03-01
110      453      0     7  1991    1 1991-07-01
111      454      0     7  1982    1 1982-07-01

[112 rows x 6 columns]

In [44]:
#2009; 2010
s7 = data.str.extractall(r'(?P<year>\d{4})')
s7.reset_index(inplace=True)
data = data.drop(s7['level_0'])

In [45]:
s7

    level_0  match  year
0       455      0  1984
1       456      0  2000
2       457      0  2001
3       458      0  1982
4       459      0  1998
5       460      0  2012
6       461      0  1991
7       462      0  1988
8       463      0  2014
9       464      0  2016
10      465      0  1976
11      466      0  1981
12      467      0  2011
13      468      0  1997
14      469      0  2003
15      470      0  1983
16      471      0  1999
17      472      0  2010
18      473      0  1975
19      474      0  1972
20      475      0  2015
21      476      0  1989
22      477      0  1994
23      478      0  1993
24      479      0  1996
25      480      0  2013
26      481      0  1974
27      482      0  1990
28      483      0  1995
29      484      0  2004
30      485      0  1987
31      486      0  1973
32      487      0  1992
33      488      0  1977
34      489      0  1985
35      490      0  2007
36      491      0  2009
37      492      0  1986
38      493      0  1978
39      494      0  2002
40      495      0  1979
41      496      0  2006
42      497      0  2008
43      498      0  2005
44      499      0  1980

In [46]:
s7['month'] = 1
s7['day'] = 1

In [47]:
s7['date']= pd.to_datetime(s7[['year','month','day']])

In [48]:
s7

    level_0  match  year  month  day       date
0       455      0  1984      1    1 1984-01-01
1       456      0  2000      1    1 2000-01-01
2       457      0  2001      1    1 2001-01-01
3       458      0  1982      1    1 1982-01-01
4       459      0  1998      1    1 1998-01-01
5       460      0  2012      1    1 2012-01-01
6       461      0  1991      1    1 1991-01-01
7       462      0  1988      1    1 1988-01-01
8       463      0  2014      1    1 2014-01-01
9       464      0  2016      1    1 2016-01-01
10      465      0  1976      1    1 1976-01-01
11      466      0  1981      1    1 1981-01-01
12      467      0  2011      1    1 2011-01-01
13      468      0  1997      1    1 1997-01-01
14      469      0  2003      1    1 2003-01-01
15      470      0  1983      1    1 1983-01-01
16      471      0  1999      1    1 1999-01-01
17      472      0  2010      1    1 2010-01-01
18      473      0  1975      1    1 1975-01-01
19      474      0  1972      1    1 1972-01-01
20      475      0  2015      1    1 2015-01-01
21      476      0  1989      1    1 1989-01-01
22      477      0  1994      1    1 1994-01-01
23      478      0  1993      1    1 1993-01-01
24      479      0  1996      1    1 1996-01-01
25      480      0  2013      1    1 2013-01-01
26      481      0  1974      1    1 1974-01-01
27      482      0  1990      1    1 1990-01-01
28      483      0  1995      1    1 1995-01-01
29      484      0  2004      1    1 2004-01-01
30      485      0  1987      1    1 1987-01-01
31      486      0  1973      1    1 1973-01-01
32      487      0  1992      1    1 1992-01-01
33      488      0  1977      1    1 1977-01-01
34      489      0  1985      1    1 1985-01-01
35      490      0  2007      1    1 2007-01-01
36      491      0  2009      1    1 2009-01-01
37      492      0  1986      1    1 1986-01-01
38      493      0  1978      1    1 1978-01-01
39      494      0  2002      1    1 2002-01-01
40      495      0  1979      1    1 1979-01-01
41      496      0  2006      1    1 2006-01-01
42      497      0  2008      1    1 2008-01-01
43      498      0  2005      1    1 2005-01-01
44      499      0  1980      1    1 1980-01-01

In [49]:
data

Series([], dtype: object)

In [50]:
s1.head()

   level_0  match month day  year       date
0       14      0     5  24  1990 1990-05-24
1       15      0     1  25  2011 2011-01-25
2       17      0    10  13  1976 1976-10-13
3       24      0    07  25  1984 1984-07-25
4       30      0    03  31  1985 1985-03-31

In [51]:
s2.head()

   level_0  match month day  year       date
0        0      0    03  25  1993 1993-03-25
1        1      0     6  18  1985 1985-06-18
2        2      0     7   8  1971 1971-07-08
3        3      0     9  27  1975 1975-09-27
4        4      0     2   6  1996 1996-02-06

In [52]:
s3.head()

   level_0  match  month day  year       date
0      194      0      4  11  1990 1990-04-11
1      195      0      5  30  2001 2001-05-30
2      196      0      2  18  1994 1994-02-18
3      197      0      2  18  1981 1981-02-18
4      198      0     10  11  2013 2013-10-11

In [53]:
s4.head()

   level_0  match day  month  year       date
0      125      0  24      1  2001 2001-01-24
1      126      0  10      9  2004 2004-09-10
2      127      0  26      5  1982 1982-05-26
3      128      0  28      6  2002 2002-06-28
4      129      0  06      5  1972 1972-05-06

In [54]:
s5.head()

   level_0  match  month  year  day       date
0      228      0      9  1985    1 1985-09-01
1      229      0      6  2011    1 2011-06-01
2      230      0      5  1986    1 1986-05-01
3      231      0      5  2016    1 2016-05-01
4      232      0      7  1977    1 1977-07-01

In [55]:
s6.head()

   level_0  match month  year  day       date
0      343      0     6  1998    1 1998-06-01
1      344      0     6  2005    1 2005-06-01
2      345      0    10  1973    1 1973-10-01
3      346      0     9  2005    1 2005-09-01
4      347      0    03  1980    1 1980-03-01

In [56]:
s7.head()

   level_0  match  year  month  day       date
0      455      0  1984      1    1 1984-01-01
1      456      0  2000      1    1 2000-01-01
2      457      0  2001      1    1 2001-01-01
3      458      0  1982      1    1 1982-01-01
4      459      0  1998      1    1 1998-01-01

In [73]:
result = pd.concat([s1[['level_0','date']],s2[['level_0','date']],s3[['level_0','date']],s4[['level_0','date']],
                    s5[['level_0','date']],s6[['level_0','date']],s7[['level_0','date']]])

In [74]:
date = result.sort_values('level_0').reset_index()['date']

In [75]:
date

0     1993-03-25
1     1985-06-18
2     1971-07-08
3     1975-09-27
4     1996-02-06
5     1979-07-06
6     1978-05-18
7     1989-10-24
8     1986-03-07
9     1971-04-10
10    1985-05-11
11    1975-04-09
12    1998-08-01
13    1972-01-26
14    1990-05-24
15    2011-01-25
16    1982-04-12
17    1976-10-13
18    1998-04-24
19    1977-05-21
20    1998-07-21
21    1979-10-21
22    1990-03-03
23    1976-02-11
24    1984-07-25
25    1982-04-13
26    1989-09-22
27    1976-09-02
28    1971-09-12
29    1986-10-24
         ...
470   1983-01-01
471   1999-01-01
472   2010-01-01
473   1975-01-01
474   1972-01-01
475   2015-01-01
476   1989-01-01
477   1994-01-01
478   1993-01-01
479   1996-01-01
480   2013-01-01
481   1974-01-01
482   1990-01-01
483   1995-01-01
484   2004-01-01
485   1987-01-01
486   1973-01-01
487   1992-01-01
488   1977-01-01
489   1985-01-01
490   2007-01-01
491   2009-01-01
492   1986-01-01
493   1978-01-01
494   2002-01-01
495   1979-01-01
496   2006-01-01
497   2008-01-01
498   2005-01-01
499   1980-01-01
Name: date, Length: 500, dtype: datetime64[ns]

In [80]:
index = date.sort_values()

In [82]:
index.index

Int64Index([  9,  84,   2,  53,  28, 474, 153,  13, 129,  98,
            ...
            152, 235, 464, 253, 427, 231, 141, 186, 161, 413],
           dtype='int64', length=500)

In [84]:
final = pd.Series(index.index)

In [3]:
def date_sorter():
    
    
    return final